* {
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    font-family: 'Nunito', sans-serif, serif;
    height: 100%;
  }
  
  #wrap {
    min-height: 100%;
  }
  
  #main {
    overflow: auto;
    padding-top: 68px;
    padding-left: 23px;
    padding-right: 23px;
    padding-bottom: 50px;
  }
  
  body:before {
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
  }
  
  *, *::after, *::before {
    box-sizing: border-box;
  }

.navbar {
  background-color: #F4F6F8;
  padding: 14px;
  border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color:rgb(223,227,232);
}

.navbar-brand .navbar-item {
    display: flex;
    justify-content: center;
    margin-left: 14px;
    padding: 7px 0;
  }

  .logo-name {
    color: #212B36;
    font-size: 30px;
    font-family: 'Lilita One', cursive;
  }

  .logo-img {
    height: auto;
    max-width: 100%;
  }

  .logo {
      height: 50px;
      width: 200px;
  }

  .footer {
    color: #FFF;
    background-color: #212B36;
    padding: 45px 35px;
    text-align: center;
  }

  .message {
    text-align: center;
  }

.title {
  text-align: center;
}

.footer-contents {
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin-bottom: 17px;
}

.footer-contents .navbar-item:hover {
  color: #FFF;
  background-color: #212B36;
}